.buttoncontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 250px;
  flex-wrap: wrap;
  gap: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.regbutton {
  width: 75px;
}

.zerobutton {
  width: 150px;
}

.numbutton, #dot{
  background-color:rgb(105, 88, 182);
}

.op {
  background-color:rgb(185, 134, 39);
}

.weird {
  background-color:rgb(62, 235, 134);
}



.textbox {
  text-align: end;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 298px;
  height: 35px;
  background-color: rgb(178, 179, 175);
  border: 1px solid black;
}

button {
  height: 50px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  gap: 0;
  font-size: 16px;
  box-sizing:border-box;
  border: 1px solid black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.maincontainer {
 
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.containertwo{
  border: 4px solid black;
  border-radius: 6px;
}